@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<button type="button">Add student</button>
<button type="button">Add teacher</button>
<button type="button">Add Course</button>
<button type="button">Add Assignment</button>
<button type="button">Add Exercise</button>
<button type="button">Add Help-Request</button>
<button type="button">Add Review</button>

